.playlist-form-container {
  padding: 20px;
  background-color: #0C090B;
  border-radius: 10px;
  color: white;
  width: 500px;
}

.playlist-form-container h2 {
  margin-bottom: 20px;
}

.playlist-form-container label {
  display: block;
  margin-bottom: 8px;
}

.playlist-form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #363636;
}

.playlist-form-container button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.playlist-form-container button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.playlist-form-container button[type="button"] {
  background-color: #282828;
  margin-left: 10px;
}
