
.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 15px;
    position: absolute;
    width: 250px;
    height: 1688px;
    left: 20px;
    top: 130px;
    /*linea vertical separadora*/
    border-right: 0.5px solid #F5F5F5;
}