.filters-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 48px;
    gap: 10px;
    position: absolute;
    width: 542px;
    height: 84px;
    left: 50px;
    top: -135px;
}

.chip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px; 
    gap: 10px; 
    height: 48px;
    border-radius: 8px;
    border: none; 
    opacity: 7px; 
    white-space: nowrap; 
}
