/* Contenedor principal para imagen de Album y nombre playlist*/
.album-song-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 180px;
  height: 180px;
  position: relative;
}

.album-image {
  width: 100%;   /* Con width la imagen tomará el tamaño del contenedor */
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}


/* Efecto de oscurecimiento */
.album-image:hover {
  opacity: 0.15;
}

/* Contenedor del botón centrado */
.album-button-play {
  position: absolute;
  top: 50%;
  left: 52%;
  width: 15%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* para traer el bot'on de play por encima de la imagen*/
}

.album-button-play  .button-container {
  background: rgba(0, 0, 0, 0.600); /* Quitar el fondo por defecto */
  opacity: 80%;
  border-radius: 50%;
  border: none; /* Quitar borde por defecto */
  cursor: pointer; /* Asegurar que sea clikeable */
}

/* Opacidad para la capa sobre la imagen del album */ 
.album-image:hover .album-button-play {
  opacity: 7;
}


.playlist-info  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 180px;
  height: 42px;
}

.song-title {
  height: 19px;
  margin-top: 1px;
  color: #FFFFFF; /* Asegurar que el color del texto sea blanco */
}

.song-description {
  height: 19px;
  margin-top: -20px;
  font-size: 15px; /* Ajustar tamaño de fuente */
  color: #FFFFFF; /* Color gris para el nombre del artista */
}

/* <<< ESTILOS QUE AGREGO PARA APLICAR EN QUICK PICKS >>>>*/

/* Estilos para el componente AlbumItem dentro de QuickPicks */
.styleQuickPicks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding-bottom: 10px;
  gap: 2px;
  width: 100%;
  height: 50px;
  position: relative;
}

/* el contenedor de información contiene a title y a description, aplicado los márgenes para que estos se coloque de lado a la imagen */
.styleQuickPicks .playlist-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: -130%;
  margin-left: 130%;
}

.styleQuickPicks .song-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.styleQuickPicks .song-description {
  font-size: 12px;
  font-weight: large;
  color: #CCC;
  margin: 0;
}


